<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DentalGDU</title>
</head>
<body>
    <header>
        <h1>DentalGDU</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'registration' %}">Registration</a></li>
                <li><a href="{% url 'add_person' %}">Add person</a></li>
				<li><a href="{% url 'add_note' %}">Add note</a></li>
				<li><a href="{% url 'view_notes' %}">View note</a></li>
			
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>
</body>
</html>
