<!DOCTYPE html>
<html>
<head>
    <title>View Notes</title>
</head>
<body>
    <h1>Select a User</h1>
    <form method="GET">
        <select name="user">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.nume }}</option>
            {% endfor %}
        </select>
        <button type="submit">View Notes</button>
    </form>

    {% if user %}
        <h2>Notes for {{ user.nume }}</h2>
        <ul>
            {% for note in notes %}
                <li>{{ note.content }}</li>
            {% endfor %}
        </ul>
        <a href="/home/">Go Back</a>
    {% endif %}
	



</body>
</html>
